.wrapper {
  padding: 10px;
  :global .fc {
    height: calc(100vh - 70px);
  }

  :global .fc-col-header .fc-scrollgrid-sync-inner {
    padding: 20px;
  }

  :global .fc-daygrid-day.fc-day-today {
    background-color: gainsboro;
  }

  :global .Editable {
    background-color: #7180b9 !important;
  }
}
