.addProjectModal {
  textarea {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    padding: 4px 11px;
  }

  .btnRight {
    margin-top: 20px;
    text-align: right;
  }
}
