:root {
  --sm-padding: 0 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gantari", sans-serif;
  font-style: normal;
}

.btn-right {
  text-align: right;
}
